.ig-icon {
  padding-top: 19px;
}

.starman {
  color: #7d7676;
}

.feature-box.fbox-plain .fbox-icon i {
  margin-top: 12%;
}

#header.sticky-header #header-wrap {
  height: 12%;
}

.slider-caption.slider-caption-center {
  background: #0000004f;
}

.feature-box h3 {
  font-size: 16px;
}

.ul-us {
  line-height: 1.5 !important;
  margin-bottom: 0px;
}

.footer-logo {
  height: 120px !important;
}

.finfo {
  font-size: 13px !important;
  color: #7d7676 !important;
}

@media only screen and (max-width: 800px) {
  .ig-icon {
    display: none;
  }
}

@media (max-width: 767.98px) {
  #copyrights .footer-logo {
    padding-bottom: 0.5em;
  }
}

@media (min-width: 992px) {
  #primary-menu .one-page-menu {
    display: flex;
    align-items: center;
    min-height: 60px;
  }
  #primary-menu .one-page-menu li {
    display: flex;
    align-items: center;
  }
  #primary-menu .one-page-menu li a.button {
    display: inline-flex;
    align-items: center;
    padding: 8px 15px;
  }
}
