.ig-icon {
  padding-top: 19px;
}

.starman {
  color: #7d7676;
}

.feature-box.fbox-plain .fbox-icon i {
  margin-top: 12%;
}

#header.sticky-header #header-wrap {
  height: 12%;
}

.slider-caption.slider-caption-center {
  background: #0000004f;
}

.feature-box h3 {
  font-size: 18px;
}

.ul-us {
  line-height: 1.5 !important;
  margin-bottom: 0px;
}

.footer-logo {
  height: 120px !important;
}

.finfo {
  font-size: 13px !important;
  color: #7d7676 !important;
}

@media only screen and (max-width: 800px) {
  .ig-icon {
    display: none;
  }
}

@media (max-width: 767.98px) #copyrights .footer-logo {
  padding-bottom: 0.5em;
}
